body{
    background-color:rgb(225, 183, 209);
}
.container{
    height:80vmin;
    width:90vmin;
    text-align:center;
    display:flex; 
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:white;
    margin-top:80px;
    border:none;
    border-radius:1rem;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    padding-top:none;
}
.main{
    height:80vmin;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:none;
}
#yesbtn{
    height:50px;
    width:80px;
    color:white;
    background-color:rgb(224, 63, 127);
    border:none;
    border-radius:1rem;
    font-size:30px;
    margin-top:20px;
    left:0px;

}
#nobtn{
    height:30px;
    width:50px;
    color:black;
    background-color:rgb(234, 224, 229);
    border:none;
    border-radius:5px;
    position:absolute;
    left:120px;
    top:30px;
}
.btn{
    display:flex;
    gap:100px;
    position:relative;
}
#gift{
    height:50px;
    width:50px;
}